<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<properties>
		<property name="LOG_HOME">E:/logs</property>
		<property name="FILE_NAME">polaris</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5p [%F:%L] - %m%n" />
		</Console>
		<RollingRandomAccessFile name="Polaris"
			fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd HH-mm}-%i.log">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5p [%F:%L] - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- ??? -->
				<SizeBasedTriggeringPolicy size="50 MB" /><!-- 文件达到50m时，会创建新的日志文件 -->
			</Policies>
			<DefaultRolloverStrategy max="20" /><!-- 最多保存的文件数 -->
		</RollingRandomAccessFile>
	</appenders>
	<Loggers>
		<logger name="com.polaris" level="debug" additivity="true"><!-- additivity为false时不再延伸传导到父层logger -->
			<appender-ref ref="Polaris" />
		</logger>
		<root level="error">
			<appender-ref ref="Console" />
		</root>
	</Loggers>
</Configuration> 