<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- 禁止log4j2自动初始化，而是通过自定义的webconfig类中初始化 -->
<!-- 	<context-param> -->
<!-- 		<param-name>isLog4jAutoInitializationDisabled</param-name> -->
<!-- 		<param-value>true</param-value> -->
<!-- 	</context-param> -->
	
</web-app>
